<h1>¡Bienvenido a pregunta2!</h1>

<form action="/user" method="post">
    <input type="text" placeholder="Enter Username" name="user">
    <br><input type="text" placeholder="Enter Password" name="password"></br>
    <br><input type="submit" value="Login"></br>
</form>
