<h1>¡Bienvenido a pregunta2!</h1>

<form action="/user" method="post">
    <br>Ingrese su usuario y contraseña:</br>
    <br>User: <input type="text" placeholder="Enter Username" name="user"></br>
    <br>Pass: <input type="password" placeholder="Enter Password" name="password"></br>
    <br><input type="submit" value="Login"></br>
</form>
