<h1>Has finalizado el modo de juego Duelo</h1>

Haz click para volver a la pantalla del juego.

<form action="/juego" method="post">
    <input type="hidden" name="count" value="{{count}}">
    <input type="hidden" name="recordC" value="{{recordC}}">
    <input type="submit" value="Volver">
</form>
