<h1>Pregunta2: Challenge.</h1>

userId: {{userId}}
count: {{count}}

<p>Pregunta {{count}}: {{pregunta}}</p>

<ul>
    <li>Opcion 1: {{opcion1}}</li>
    <li>Opcion 2: {{opcion2}}</li>
    <li>Opcion 3: {{opcion3}}</li>
    <li>Opcion 4: {{opcion4}}</li>
</ul>

<form action="/responder" method="post">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="count" value="{{count}}">
    <input type="hidden" name="preguntaId" value="{{preguntaId}}">

    <input type="text" name="respuesta">
    <input type="submit" value="Responder">
</form>


<a href="/celia">Enlace</a>
