<h1>Challenge</h1>

<p>¿Listo para comenzar?</p>


<form action="/challenge" method="post">
    <input type="hidden" name="count" value="{{count}}">
    <input type="hidden" name="game_id_actual" value="{{game_id_actual}}">
    <input type="hidden" name="recordC" value="{{recordC}}">
    <input type="submit" value="Comenzar">
</form>


<a href="/celia">Enlace</a>
