<p>¿Listo para comenzar?</p>

<form action="/game1Vs1" method="post">
    <input type="hidden" name="gameTable_id" value="{{gameTable_id}}">
    <input type="hidden" name="count" value="{{count}}">
    <input type="hidden" name="game_id_actual" value="{{game_id_actual}}">
    <input type="hidden" name="record1Vs1" value="{{record1Vs1}}">
    <input type="submit" value="Comenzar">
</form>