<h1>Pregunta2: Registrar</h1>

<form action="/registrarFin" method="post">
    <br>User: <input type="text" placeholder="Enter Username" name="user"></br>
    <br>Pass: <input type="password" placeholder="Enter Password" name="password"></br>
    <br><input type="submit" value="Registrar"></br>
</form>
