<h1>¡Respuesta Correcta!</h1>

<br>userId: {{userId}}</br>
<br>count: {{count}}</br>

<form action="/challenge" method="post">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="count" value="{{count}}">
    <input type="submit" value="Continuar">
</form>
