<h1>Respuesta Incorrecta</h1>

userId: {{userId}}

<br>La respuesta correcta es: {{respuestaCorrecta}}</br>

<form action="/challenge9" method="post">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="submit" value="Continuar">
</form>
