<h1>¡Respuesta Correcta!</h1>

<form action="/classic" method="post">
    <input type="hidden" name="count" value="{{count}}">
    <input type="hidden" name="conditionNext" value="{{conditionNext}}">
    <input type="hidden" name="game_id_actual" value="{{game_id_actual}}">
    <input type="hidden" name="recordC" value="{{recordC}}">
    <input type="submit" value="Continuar">
</form>
