<h1>Bievenido {{user}}</h1>

<br>Tu record actual es: </br>
<br>Record Challenge: {{recordChallenge}}</br>
<br>Record Classic: {{recordClassic}}</br>
<br> </br>

<form action="/juego" method="post">
    <input type="submit" value="Jugar">
</form>

<form action="/logout" method="get">
    <br><input type="submit" value="Logout"></br>
</form>





