<h1>Bievenido {{username}}</h1>

userId: {{userId}}

<p>Seleccione el modo del juego</p>


<form action="/challenge" method="post">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="submit" name="Challenge" value="Challenge">
</form>

<form action="/classic" method="post">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="submit" name="Classic" value="Classic">
</form>



